@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        window.location.href = "/web";
    </script>
</head>
<body>
    <h1>
        服务已启动！
    </h1>
</body>
</html>
